<!DOCTYPE html>
<html>
  <head>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!--Bootstrap-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
    </script>

    <!--React-->
    <script src="https://fb.me/react-0.13.3.min.js"></script>

    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <title>Flight Search App</title>

    </script>
  </head>
  <body>
    <div class="text-center">
      <h1>Flight Search App</h1>
    </div>
    <div id="app">
      <script src="/build/SearchResults.js"></script>
      <script src="/build/SearchBox.js"></script>
      <script src="/build/main.js"></script>
    </div>
  </body>
</html>
